[project]
	description = Sample hello-world project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prasannasun
[access "refs/for/refs/*"]
	read = group user/prasannasun
	push = group user/prasannasun
	label-Code-Review = -2..+2 group user/prasannasun
	label-Verified = -1..+1 group user/prasannasun
	rebase = group user/prasannasun
	removeReviewer = group user/prasannasun
	submit = group user/prasannasun
[access "refs/heads/*"]
	read = group user/prasannasun
	create = group user/prasannasun
	push = +force group user/prasannasun
	pushMerge = group user/prasannasun
[access "refs/tags/*"]
	push = +force group user/prasannasun
	pushTag = group user/prasannasun
	pushSignedTag = group user/prasannasun
